<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>Welcome to Tomcat</display-name>
    <description>
        Welcome to Tomcat
    </description>

    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.github.javamentorship.category.controller.ShitCategoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/MyCategoryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>TestJavaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
</web-app>